/problema01/sol_java/problema1/nbproject/private/
/problema01/sol_java/problema1/build/
/problema02/sol_java/problema2/nbproject/private/
/problema02/sol_java/problema2/build/
/problema03/sol_java/problema3/nbproject/private/
/problema03/sol_java/problema3/build/
/problema04/sol_java/problema4/nbproject/private/
/problema04/sol_java/problema4/build/
/problema05/sol_java/problema5/nbproject/private/
/problema05/sol_java/problema5/build/
/problema05/sol_java/problema6/nbproject/private/
/problema05/sol_java/problema6/build/
/problema05/sol_java/ejercicio7/nbproject/private/
/problema07/sol_java/problema7/nbproject/private/
/problema6/build/
/problema6/nbproject/private/
/problema07/sol_java/problema7/build/
/problema08/sol_java/problema8/nbproject/private/
/problema09/sol_java/problema9/nbproject/private/
/problema09/sol_java/problema9/build/
/problema09/sol_java/problema10/nbproject/private/
/problema10/sol_java/problema10/nbproject/private/
/problema10/sol_java/problema10/build/
/problema08/sol_java/problema8/build/
/problema01/sol_java/problema01/nbproject/private/
/problema01/sol_java/problema01/build/
